<div class="container">
  <div>
    <mat-form-field>
      <mat-label>בחר מוסכים להוספה</mat-label>
      <mat-select #multiSelect [(value)]="selectedGarages" multiple>
        <mat-option *ngFor="let garage of selectGarages" [value]="garage">
          {{ garage.shem_mosah }}
        </mat-option>
        <mat-spinner *ngIf="isLoadingSelect" diameter="20"></mat-spinner>
        <button
          mat-raised-button
          color="primary"
          (click)="fetchSelectGarages()"
          [disabled]="isLoadingSelect"
        >
          טעינת מוסכים נוספים
        </button>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="isAddingGarages || !this.selectedGarages.length"
      (click)="addSelectedGarages()"
    >
      <ng-container *ngIf="!isAddingGarages; else spinner">
        הוספה
      </ng-container>
      <ng-template #spinner>
        <mat-spinner [diameter]="20"></mat-spinner>
      </ng-template>
    </button>
  </div>

  <mat-spinner *ngIf="isPageLoading" diameter="50"></mat-spinner>
  <mat-table [dataSource]="tableGarages" class="mat-elevation-z8">
    <ng-container matColumnDef="shem_mosah">
      <mat-header-cell *matHeaderCellDef>שם המוסך</mat-header-cell>
      <mat-cell *matCellDef="let garage">{{ garage.shem_mosah }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <mat-header-cell *matHeaderCellDef>טלפון</mat-header-cell>
      <mat-cell *matCellDef="let garage">{{ garage.telephone }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="miktzoa">
      <mat-header-cell *matHeaderCellDef>מקצוע</mat-header-cell>
      <mat-cell *matCellDef="let garage">{{ garage.miktzoa }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
